.App {
  text-align: center;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5rem;
}

h1 {
  color: white;
  font-size: 2rem;
}

p {
  color: cornflowerblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem; 
}